@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width: 700px){
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width: 1200px){
        @content;
    }
}

$darkColor: #2f2d52;

.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color: #5d5d8d;
            font-weight: bold;
            font-size: 24px;
            
        }
        .title{
            color: #5d5d8d;
            
            font-size: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                width: 250px;
                border: none;
                border-bottom: 1px solid #a7bcff;
            &::placeholder{
                color: gray;
            }
            }

            button{
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color:#8da4f1;
                font-size: 12px;
                cursor: pointer;
                img{
                    width : 32px;
                }
            }
        }
        p{
            color : #5d5d8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        font-weight: bold;
        @include tablet{
            width: 90%;;
        }
        .eventselect{
            
            width: 100%;
            display: flex;
            justify-content: space-between;

            button{
                width: 25%;
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            button:hover{
                background-color: #3e3c61;
                color: white;
            }
        }
        .Log{
            background-color: #ddddf7;
            height: 100%;
            padding: 10px;
            
            
            
            label{
                float: left;
                width:100%;
                margin-bottom: 5px;
                
            }
            input{
                float: left;
                width:100%;
                margin-bottom: 10px;
                
            }
            
        }
        .graphView{
            margin:4px, 4px;
                padding:4px;
                background-color: #ddddf7;
                width: 100%;
                
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
        }
        .sidebar{
            flex: 1;
            background-color: #3e3c61;
            position: relative;
            height: 100%;
            width: 150px;

            button{
                background-color: #3e3c61;
                color: #ddddf7;
                font-size: 10px;
                border: none;
                cursor: pointer;
                font-weight: bold;
                display: block;
                width: 100%;
                height: 10%;
                margin-top: 10px;
            }
            button:hover{
                background-color: $darkColor;
                color: white;
            }

            .navbar{
                display: block;
                align-items: center;
                background-color: $darkColor;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;
                .logo{
                    font-weight: bold;
                    @include tablet{
                        display: none;
                    }
                }
                .user{
                    display: flex;
                    gap: 10px;
                    
                    img{
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;

                    }
                    button{
                        background-color: #5d5d8d;
                        color: #ddddf7;
                        font-size: 10px;
                        border: none;
                        cursor: pointer;
                        font-weight: bold;
                        position: absolute;
                        bottom: 10px;
                        width: 80%;
                        left: 10%;
                        
                    }
                    button:hover{
                        background-color: $darkColor;
                        color: white;
                    }
                }

            }
        }
    }
}